@charset "UTF-8";

/*
em HTML é id    = em CSS é #
em HTML é class = em CSS é .

*/

body {
    background-color: rgb(205, 255, 183);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(31, 92, 55);
}

h1#principal {
    text-align: center;
    background-color:rgb(45, 134, 80);
    color: white;
}

h2 {
    color: rgb(60, 122, 31);
}

.basico {
    color: rgb(133, 150, 36);
}

.intermediario {
    color: rgb(31, 122, 31);
}

.avancado {
    color: rgb(122, 31, 31);
}

.destaque {
    background-color: rgba(128, 139, 63, 0.611);
}